.main-footer {
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #9f9fac;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.details {
  text-align: center;
}

.detailsOne {
  color: black;
}

.detailsTwo {
  color: black;
}
