.navbar {
  height: 50px;
  top: 0;
  position: sticky;
  font-size: medium;
  background-color: white;
}

.navbar.active {
  background-color: red;
}

.nav-container {
  display: flex;
  height: 50px;
  margin: 10px;
  max-width: 1500px;
}

.item {
  padding-right: 15px;
  color: black;
}
